* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  /* background: rgba(190, 220, 245, 0.171); */
}
body {
  background: rgba(190, 220, 245, 0.432);
  display: flex;
  /* justify-content: center;
  align-items: center; */
  height: 100vh;
}
#container {
  color: #0000ff;
  width: 100%;
  margin: 30px auto;
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 4rem;
}
.digit{
    font-size: 6.3rem;
}
.text{
    font-size: 3.5rem;
    color: red;
}
#btn-container{
    text-align: center;
    margin-top: 6rem;
}
.btn{
    padding: 2rem 4rem;
    font-size: 2rem;
    border: 2px solid #0000ff;
    border-radius: .5rem;
    background-color: rgba(190, 220, 245, 0.432);
    color: #0000ff;
    font-weight: bold;
    cursor: pointer;
    margin: 1rem;
}